{% extends 'base.html' %}
{% block title %}Customers{% endblock %}
{% block content %}

  <a class="btn btn-primary" style="float: right" href="/add/">Add a Customer</a>

  <h1>Customers</h1>
  <div class="row">
    {% for customer in customers %}
      <div class="col-3">
        <a href="/{{ customer.id }}/">
          {{ customer.fullName }}
        </a>
        {% if mostRecentReservations[loop.index0] %}
        <p><strong>{{ mostRecentReservations[loop.index0].startAt }}</strong></p>
        {% endif %}
        <hr>
      </div>
    {% endfor %}
  </div>

{% endblock %}