{% extends 'base.html' %}
{% block title %}Customers{% endblock %}
{% block content %}

  <a class="btn btn-primary" style="float: right" href="/add/">Add a Customer</a>

  <h1>Customers</h1>

  <div style="column-count: 4">
    {% for customer in customers %}
      <div class="list-item">
        <a href="/{{ customer.id }}/">
          {{ customer.fullName }}
        </a>
        {% if mostRecentReservations[loop.index] %}
        <p><strong>{{ mostRecentReservations[loop.index].startAt }}</strong></p>
        {% endif %}
      </div>
      <hr>
    {% endfor %}
  </div>

{% endblock %}